<template>
  <div
    :class="message.correspondant ? 'other' : 'you'"
    class="msg pure-u-5-5 l-box focus-in-contract epsila_color_card"
  >
    <div class="user_name">
      {{ message.name }}
      {{ devices[message.idUser] ? `(${devices[message.idUser].name})` : "" }}
    </div>
    <div
      class="user_message"
      v-html="
        linkifyStr(message.message, {
          truncate: 50,
          defaultProtocol: 'https',
          target: '_blank',
          rel: 'noopener',
        })
      "
    ></div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import linkifyStr from "linkify-string";
export default {
  name: "MessageItem",
  computed: mapState([
    // map this.login to store.state.login
    "devices",
  ]),
  methods: {
    linkifyStr,
  },
  props: {
    message: {
      correspondant: {
        type: Boolean,
        required: true,
      },
      name: {
        type: String,
        required: true,
      },
      message: {
        type: String,
        required: true,
      },
      idUser: {
        type: String,
        required: true,
      },
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.you .user_name {
  color: var(--epsila_green);
}
.other .user_name {
  color: var(--theme_secondaire);
}

.you {
  border-right: 0.15rem solid var(--epsila_green);
  margin-left: 3rem;
  margin-right: 0.5rem;
  text-align: right;
  color: #ffffff;
}
.other {
  border-left: 0.15rem solid var(--theme_secondaire);
  text-align: left;
  margin-right: 3rem;
  margin-left: 0.5rem;
  color: #ffffff;
}
.msg {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.4em;
}
.user_name {
  font-size: 0.7rem;
  color: lightgrey;
  margin-bottom: 0.5rem;
}
.user_message {
  font-size: 1.1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.focus-in-contract {
  -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
</style>
