<template>
  <div id="login" class="pure-u-24-24 container modal">
    <div class="modal-content interieur">
      <div class="">
        <img class="logoEpisila" src="@/assets/epsila.png" alt="Logo epsila" />
      </div>
      <!-- <div class="center">
          <input id="pseudo" v-model="pseudo" type="pseudo" placeholder="Nom" required="required"/>
        </div> -->
      <div class="userConnectInfo">
        <span>{{ pseudo }}</span>
      </div>
      <div class="center white-text verouille">Session verrouillée</div>
      <div class="center margin_top_1">
        <input
          id="password"
          v-model="password"
          type="password"
          placeholder="Entrer le mot de passe"
          required="required"
          autofocus="autofocus"
          @keyup.enter="loginAction"
        />
      </div>
      <!-- <div class="center">
          <label for="default-remember">
            <input type="checkbox" id="default-remember" /> Se souvenir de moi
          </label>
        </div> -->
      <div class="margin_top_1">
        <button @click="loginAction" type="submit" class="btn-grad btn_login">
          Login
        </button>
      </div>
      <div class="margin_top_2">
        <div @click="createAccount" class="genNewId">
          Génerer un nouvelle identidiant
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

// @ is an alias to /src
import workerInterface from "@/service/workerInterface";

export default {
  name: "PopIn",
  data: () => ({
    password: "",
  }),
  computed: mapState([
    // map this.pseudo to store.state.pseudo
    "pseudo",
  ]),
  methods: {
    loginAction() {
      workerInterface.postMessage("login", { password: this.password });
    },
    createAccount() {
      this.$router.push({ name: "CreateAccount" });
    },
  },
};
</script>

<style scoped>
#pseudo {
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  text-align: center;
}
#password {
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  text-align: center;
}
</style>
