<template>
  <div id="zoneNewMessage">
    <div class="zoneEdition">
      <div class="pure-g">
        <div class="pure-u-24-24 pure-u-md-24-24">
          <textarea
            autocomplete="off"
            spellcheck="false"
            autocorrect="off"
            autocapitalize="off"
            aria-haspopup="false"
            v-model="message"
            id="newMessage"
            type="text"
            :placeholder="`Envoyer un message à @${chatName}`"
            @keydown.enter.exact.prevent
            @keyup.enter.exact="sendMessage"
            @keyup.enter.ctrl="addEntre"
            name="message"
            ref="message"
          ></textarea>
        </div>
        <div class="pure-u-18-24 pure-u-md-20-24"></div>
        <div class="pure-u-2-24 pure-u-md-2-24">
          <div v-if="limit" class="getsize">{{ getSize(message) }}/250</div>
        </div>
        <div class="pure-u-4-24 pure-u-md-2-24">
          <button
            class="btn-grad epsila_color_btn_valide"
            id="btnSend"
            @click="sendMessage"
            type="button"
            name="epsilatchat"
            value="send"
            :disabled="
              (limit && getSize(message) > 250) || message.length === 0
            "
          >
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { textToBinary } from "@/service/function";

export default {
  name: "SendMessage",
  data: () => ({
    message: "",
  }),
  emits: ["sendMessage"],
  props: {
    limit: {
      type: Boolean,
      required: true,
    },
    chatName: {
      type: String,
      required: true,
    },
  },
  methods: {
    addEntre() {
      const posStart = this.$refs.message.selectionStart;
      const posEnd = this.$refs.message.selectionEnd;
      this.message =
        this.message.slice(0, posStart) + "\n" + this.message.slice(posEnd);
      setTimeout(() => {
        this.$refs.message.setSelectionRange(posStart + 1, posStart + 1);
      }, 0);
    },
    sendMessage() {
      // 382 = limite sur chrome
      if (
        (!this.limit || this.getSize(this.message) <= 250) &&
        this.message.length !== 0
      ) {
        this.$emit("sendMessage", this.message);
        this.message = "";
      }
    },
    getSize() {
      const bin = textToBinary(this.message);
      return bin.length;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
p {
  position: absolute;
  right: 150px;
}
#zoneNewMessage {
  padding: 1rem;
}
#newMessage {
  margin-bottom: 0.3rem;
  display: block;
  padding-top: 7px;
  padding-left: 10px;
  width: 100%;
  height: 67px;
  color: #e5e5e5;
  background-color: #1d2935;
  border: 0px solid #1d2935;
  border-bottom: 2px solid #42b983;
  outline: 0px;
  padding-bottom: 0px;
  border-radius: 0.5rem;
}

#btnSend {
  width: 100%;
  height: 42px;
  padding: 0em;
  margin: 0em;
}
#btnSendDoc {
  width: 100%;
  height: 42px;
  padding: 0em;
  margin: 0em;
}
</style>
