<template>
  <div class="user">
    <span
      :class="{ indic: true, online: user.online, offline: !user.online }"
    ></span>

    <span class="nomUser" :class="{ active }">
      {{ user.name }}
    </span>
    <span
      v-if="user.encryption == 'none'"
      title="Conversation de groupe non chiffré"
      ><i class="fa fa-comments" aria-hidden="true"></i
    ></span>
    <span
      v-else
      :title="'Conversation chiffré de bout en bout par ' + user.encryption"
      ><i class="fa fa-key" aria-hidden="true"></i
    ></span>
    <span v-if="user.notif" class="notifs">{{ user.notif }}</span>
  </div>
</template>

<script>
export default {
  name: "UserItem",
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    user: {
      notif: {
        type: Number,
        required: true,
      },
      name: {
        type: String,
        required: true,
      },
    },
  },
};
</script>
<style media="screen">
.user {
  position: relative;
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.nomUser {
  padding: 0rem 6px 0rem 6px;
  margin: 0px 5px 0px 0px;
  transition-duration: 0.2s;
  border-radius: 5px;
  display: inline-block;
  width: calc(100% - 40px);
  border-radius: 5px;
}
.nomUser:hover {
  background-color: #ffffff57;
}
.notifs {
  position: absolute;
  background-color: #ff4242;
  width: 1rem;
  height: 1rem;
  margin-left: 3px;
  border-radius: 3rem;
  text-align: center;
  font-size: 0.85rem;
  color: #dddddd;
}
</style>
