<template>
  <div v-if="toast" class="toast show">{{ toast }}</div>
</template>
<script>
import workerInterface from "@/service/workerInterface";

export default {
  name: "ToastCommon",
  data() {
    return {
      toast: "",
      toastHender: {
        handleEvent: (e) => {
          console.log(e.detail);
          this.toast = e.detail;
          setTimeout(() => {
            this.toast = "";
          }, 3000);
        },
      },
    };
  },
  created() {
    workerInterface.addEventListener("toast", this.toastHender);
  },
  unmounted() {
    workerInterface.removeEventListener("toast", this.toastHender);
  },
};
</script>
<style media="screen">
.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #d71313;
  color: #fff;
  text-align: center;
  border-radius: 0.2rem;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}
.toast.show {
  visibility: visible;
  -webkit-animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;
  animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
</style>
