<template>
  <div class="">
    <img class="logoEpisila" src="@/assets/epsila.png" alt="Logo epsila" />
  </div>
  <div class="center">
    <input
      class="input"
      v-model="pseudo"
      type="pseudo"
      placeholder="Votre nom d'utilisateur"
      required="required"
      @keyup.enter.exact="$refs.password1.focus()"
    />
  </div>
  <div class="center">
    <input
      class="input"
      v-model="password1"
      type="password"
      placeholder="Votre mot de passe"
      required="required"
      ref="password1"
      @keyup.enter.exact="$refs.password2.focus()"
    />
    <input
      class="input"
      v-model="password2"
      type="password"
      placeholder="Répété votre mot de passe"
      required="required"
      ref="password2"
      @keyup.enter.exact="createAccount"
      @keyup="updatePassword2"
    />
    <div class="error">{{ error }}</div>
  </div>
  <div class="margin_top_1">
    <button
      @click="createAccount"
      type="submit"
      class="btn-grad btn_login"
      :disabled="waiting"
    >
      {{ waiting ? "En cours..." : "Créer un compte" }}
    </button>
  </div>
  <!--
  <div class="margin_top_1">
    <div @click="importAccount" class="genNewId">
      Importer une clef existante
    </div>
  </div>
  -->
</template>

<script>
export default {
  name: "FromAccount",
  data: () => ({
    error: "",
    pseudo: "",
    password1: "",
    password2: "",
  }),
  props: {
    waiting: {
      type: Boolean,
      required: true,
    },
  },
  emits: ["createAccount"],
  methods: {
    updatePassword2() {
      if (this.password1 === this.password2) {
        this.error = "";
      } else {
        this.error = "Les mots de passe son différent";
      }
    },
    createAccount() {
      if (this.password1 === this.password2) {
        this.$emit("createAccount", {
          pseudo: this.pseudo,
          password: this.password1,
        });
      }
    },
  },
};
</script>

<style media="screen" scoped>
.error {
  color: #ff3c3c;
}
.center {
  text-align: center;
}
.input {
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  text-align: center;
}
</style>
